<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       
        <link rel="stylesheet" th:href="@{/home.css}" href="../static/home.css">

        <title>Star Runners</title>

    </head>
    <body>
        <div id="stars-group-1"></div>
        <div id="target">
            <div>
                <h1>Star Runners</h1>
                Dans Star Runners, le joueur incarne et contrôle un explorateur qui 
                a volé le trésor d'un vaisseau de guerre intergalactique.<br/>
                Il se retrouve confronté a des obstacles qui peuvent le ralentir. 
                Comme il s'agit d'un jeu de course, 
                le joueur rebondi si il touche les obstacles qui doivent le ralentir.
                Il peut lancer son dé vers la gauche, la droite, 
                en bas ou en haut pour éviter des obstacles.<br/><br/>
                <a href="/game">Commencer</a>
            </div>
        </div>
    </body>
</html>